<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fsmkapp"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" >
    </uses-feature>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.fsmkapp.ScheduleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="com.example.fsmkapp.VolunteerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="com.example.fsmkapp.DisplayDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.example.fsmkapp.AboutUs"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="SplashScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="MenuActivity"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.example.fsmkapp.FsmkReceiver" >
        </receiver>
        <receiver android:name="com.example.fsmkapp.NotificationButtonReceiver" >
        </receiver>

        <service android:name="com.example.fsmkapp.AlarmMusicService" >
        </service>

      

        <service android:name="com.helper.fsmk.ExportBmpService" >
        </service>
        <service android:name="com.helper.fsmk.DataFetchService"></service>
    </application>

</manifest>